body {
    background-image:url(https://getbg.net/upload/full/582692_minimalizm_gradient_2560x1600_www.GetBg.net.jpg)}
img {
    display:block; margin:auto
    
}
h1 {
    text-align: center;}
h2 {
    border-bottom-style: dotted; 
    border-top-style: dotted;
border-left-style: dotted; 
border-color:yellow; 
text-align:center;}
h5 {
    text-align: center}
.thing {
    border:2px solid black;}
h3 {color: rgb(240, 255, 255)}


.thing {text-align: center;}



