#navbar { text-align: center
;
}
#navbar li {
    border: 2px solid black;
    margin: 5px;
    display:inline-block;
    background-color: white;
    padding:5px;
    border-radius:15px;
}
#navbar li:hover {background-color:rgb(255, 237, 240);}

