body {
    background-color: rgb( 222, 251, 255);
}
img { margin: 70px;}

h1 { text-align: center
 ;color: purple; }
P { color: grey;}
h2 { background-color: white
; text-align: center}
.dogs { color: red;}
#music {background-color:aqua;}

